@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
html, body, #root {
    margin: 0;
    padding: 0;
    font-family: "Aldrich", sans-serif;
    font-size: 13px;
    height: 99%;
    background: #fff;
    width: 16%;
    position: fixed;
    left: 84%;
}
input, textarea {
    font-family: Aldrich, sans-serif
}
#button-chat {
    position: absolute;
    right: 53%
}
#button-upload {
    height: 50px
}
#button-chatlogin {
    position: absolute;
    right: 74%;
    top: 0%
}
#submit {
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    text-align: center;
    border: none;
    height: 100%;
    color: #fff;
    background: #6325C9;
    transition: all .35s ease-out;
    position: relative;
    right: -10%
}
.login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    right: 0%;
    top: -45%;
}
.login-form h2 {
    font-size: 5vw
}
.login-form input {
    background: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-width: 1px 0;
    border-style: solid;
    border-color: black;
    padding-left: 15px;
    padding-right: 20px;
    position: relative;
    right: -10%
}
.login-form input:focus {
    border-bottom: solid 2px #5d5d8a;
    outline: none
}
.login-form .error {
    text-align: center;
    margin: 5px 0;
    padding: 5px 10px;
    color: #c92c43
}
.container {
    color: #388af6;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100%;
    width: 147%;
    position: relative;
    left: -25%;
}
#side-bar {
    box-sizing: border-box;
    width: 229%;
    height: 50%;
    display: grid;
    justify-content: stretch;
    grid-template-rows: 8vh 5vh 5vh 1fr 8vh;
    position: relative;
    right: -50%;
    bottom: 7%;
    z-index: 3;
}
/*#side-bar .heading {
    box-sizing: border-box;
    padding: 18px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #cfd2d3;

}*/

#side-bar .side-bar-select {
    display: flex;
    justify-content: space-around;
    align-items: center
}
#side-bar .side-bar-select__option {
    background: #6325C9;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer
}
#side-bar .side-bar-select__option.active {
    border-radius: 0px;
    box-shadow: inset 5px 5px 10px #535454, inset -5px -5px 10px #ffffff;
    background: #dfdfe8
}
#side-bar .search {
    background: #cfd2d3;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-width: 1px 0;
    border-style: solid;
    border-color: black;
    padding-left: 15px;
    padding-right: 20px;
    border-radius: 75px 75px 0px 0px;
    -moz-border-radius: 75px 75px 0px 0px;
    -webkit-border-radius: 75px 75px 0px 0px;
    border: 0px solid #000000;
}
#side-bar .search .search-icon {
    border-radius: 82px;
    box-shadow: 16px 16px 32px #898b8b, -16px -16px 32px #ffffff;
    cursor: pointer
}
#side-bar .search input {
    width: 92%;
    background: #cfd2d3;
    flex-grow: 1;
    box-sizing: border-box;
    border: none;
    color: #000
}
#side-bar .search input:focus {
    outline: none
}
#side-bar .search input::placeholder {
    color: #000;
    opacity: .6
}
#side-bar .search .plus {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 13px;
    height: 13px
}
#side-bar .search .plus::after, #side-bar .search .plus::before {
    content: '';
    position: absolute;
    background: #b3b2ca
}
#side-bar .search .plus::after {
    width: 16px;
    height: 2px;
    top: 5px
}
#side-bar .search .plus::before {
    width: 2px;
    height: 16px;
    top: -2px;
    left: 7px
}
#side-bar .users {
    overflow-y: scroll;
    background: #cfd2d3;
    flex-grow: 1
}
#side-bar .users::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #000
}
#side-bar .users::-webkit-scrollbar {
    width: 5px;
    background-color: green
}
#side-bar .users::-webkit-scrollbar-thumb {
    background-color: #000
}
#side-bar .users .user {
    align-items: center;
    display: flex;
    height: 66px;
    justify-content: flex-start;
    padding: 18px 16px
}
#side-bar .users .user.active, #side-bar .users .user:hover {
    box-shadow: 5px 5px 10px #787a7a, -5px -5px 10px #ffffff;
    box-sizing: border-box;
    background: #dfdfe8
}
#side-bar .users .user:hover:not(.active) {
    cursor: pointer
}
#side-bar .users .user .user-info {
    margin-left: 15px;
    flex-grow: 1;
    width: 100%
}
#side-bar .users .user .user-info .last-message {
    font-size: 12px;
    opacity: .56
}
#side-bar .users .user .new-message {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}
#side-bar .current-user {
    border-radius: 0px;
    background: #cfd2d3;
    box-shadow: inset 5px 5px 10px #535454, inset -5px -5px 10px #ffffff;
    align-items: center;
    background: #cfd2d3;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px
}
#side-bar .current-user .logout {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    /*font-size: 1em*/
}
.chat-show .chatOpen {
    width: 100%;
    height: 100%
}
#div-s {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 10%;
}
.chat-header {
    background: #cfd2d3;
    box-shadow: 5px 5px 10px #787a7a, -5px -5px 10px #ffffff;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 16px;
    width: 102%;
    z-index: 3;
}
.chat-header .user-info {
    align-items: center;
    display: flex
}
.chat-header .user-info .user-name {
    margin-right: 10px
}
.chat-header .user-info .status {
    align-items: center;
    display: flex
}
.chat-header .options {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 15%
}
.chat-header .options svg {
    cursor: pointer
}
.chat-room-container {
    height: 100%;
    width: 155%;
    right: 19%;
    top: 43%
}
@media screen and (max-width: 510px) {
    #side-bar {
        position: absolute;
        left: -100%
    }
    .chat-room-container {
        width: 100%
    }
}
.chat-room {
    display: grid;
    grid-template: 8vh 1fr 8vh / 100%;
    height: 57%;
    width: 98%;
    position: relative;
    left: 0.8%;
    bottom: -43%
}
.chat-room.choose {
    align-items: center;
    justify-content: center;
    font-size: 2em
}
.thread-container {
    display: grid;
    flex-grow: 1;
    overflow-y: scroll;
    position: relative;
    background: #fff;
    height: 100%;
    bottom: 0%;
    width: 102%;
    left: 0%
}
.thread-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #cac8ee
}
.thread-container::-webkit-scrollbar {
    width: 5px;
    background-color: green
}
.thread-container::-webkit-scrollbar-thumb {
    background-color: #484d79
}
.thread-container .thread {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #000;
    background: #dcddf5
}
.message-container {
    display: flex;
    justify-content: flex-start;
    min-height: 50px;
    margin: 10px 15px;
    animation: .65s ease-out 0s show
}
.message-container .time {
    order: 1
}
.message-container .data {
    border-radius: 50px;
    box-shadow: inset 5px 5px 10px #535454, inset -5px -5px 10px #ffffff;
    background: #cfd2d3;
    order: 2;
    height: 100%;
    margin-left: 25px;
    word-break: break-all;
}
.message-container .name {
    font-size: .65em;
    margin-top: 5px;
    text-align: right
}
.message-container .message {
    border-radius: 50px;
    box-shadow: inset 5px 5px 10px #535454, inset -5px -5px 10px #ffffff;
    background: #cfd2d3;
    border-radius: 5px;
    border-top-left-radius: 0;
    box-sizing: border-box;
    color: #000;
    height: 100%;
    padding: 10px 15px;
    position: relative
}
@keyframes show {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
.message-container .message::before {
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: #cfd2d3;
    border-style: solid;
    border-top-color: #cfd2d3;
    border-width: 4px;
    content: '';
    height: 0;
    left: -7px;
    position: absolute;
    top: 0;
    width: 0
}
.message-container.right {
    text-align: right;
    justify-content: flex-end
}
.message-container.right .time {
    order: 2;
    margin-left: 25px
}
.message-container.right .data {
    box-shadow: 5px 5px 10px #787a7a, -5px -5px 10px #ffffff;
    margin-left: 0;
    order: 1
}
.message-container.right .name {
    display: none
}
.message-container.right .message {
    background: #cfd2d3;
    box-shadow: 5px 5px 10px #787a7a, -5px -5px 10px #ffffff;
    color: #000;
    border-top-right-radius: 0;
    border-top-left-radius: 5px
}
.message-container.right .message::before {
    border-top-color: #cfd2d3;
    border-left-color: #cfd2d3;
    border-right-color: transparent;
    left: auto;
    right: -7px
}
.typing-user {
    text-align: right;
    margin: 10px 15px
}
.file-upload>input {
    display: none;
}
.file-upload {
    position: relative;
    width: -moz-min-content;
    bottom: -11%;
    height: 70%;
}
.message-input {
    background: #cfd2d3;
    box-shadow: 5px 5px 10px #787a7a, -5px -5px 10px #ffffff;
    background: white;
    color: #484d79;
    box-sizing: border-box;
    width: 102%;
    left: 0%;
    position: relative;
    bottom: 0%;
    border-radius: 0px 0px 75px 75px;
    -moz-border-radius: 0px 0px 75px 75px;
    -webkit-border-radius: 0px 0px 75px 75px;
}
.message-input .message-form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.message-input .message-form .form-control {
    resize: none;
    padding-left: 15px;
    box-sizing: border-box;
    width: 60%;
    height: 100%;
    /*border: none;*/
    font-size: 13px;
    border-radius: 0px 0px 0px 75px;
    -moz-border-radius: 0px 0px 0px 75px;
    -webkit-border-radius: 0px 0px 0px 75px;
}
.message-input .message-form .form-control::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #cac8ee
}
.message-input .message-form .form-control::-webkit-scrollbar {
    width: 5px;
    background-color: green
}
.message-input .message-form .form-control::-webkit-scrollbar-thumb {
    background-color: #484d79
}
.message-input .message-form .form-control:focus {
    outline: none
}
.message-input .message-form .send {
    background: #cfd2d3;
    box-shadow: 5px 5px 10px #787a7a, -5px -5px 10px #ffffff;
    width: 28%;
    box-sizing: border-box;
    /*font-size: 1.25em;*/
    text-align: center;
    border: none;
    height: 100%;
    color: #388af6;
    background: #6325C9;
    transition: all .35s ease-out;
    box-shadow: inset -6px -6px 10px rgba(255, 255, 255, 0.5),
                inset 6px 6px 10px rgba(70, 70, 70, 0.12),
                inset -6px -6px 10px rgba(70, 70, 70, 0.12),
                inset 6px 6px 10px rgba(255, 255, 255, 0.5);
    border-radius: 0px 0px 75px 0px;
    -moz-border-radius: 0px 0px 75px 0px;
    -webkit-border-radius: 0px 0px 75px 0px;
}
.message-input .message-form .send:disabled {
    opacity: .2;
    background: #5d5d8a;
    border-radius: 0px 0px 75px 0px;
    -moz-border-radius: 0px 0px 75px 0px;
    -webkit-border-radius: 0px 0px 75px 0px;
}
.Dropzone {
    width: 20%;
    height: 0%;
    position: relative;
    bottom: 100%;
    left: 55%
}
#imageFile {
    display: none;
}
.dropdown {
    width: 20%;
    height: 0%;
    position: relative;
    bottom: 70%;
    left: 60%;
    position: absolute;
}